# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytorch
*.pt
*.pth

# Virtual Environment
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
results/
*.log
data/datasets/*/all.csv
data/datasets/*/train.csv
data/datasets/*/test.csv
data/datasets/*/sample.csv